 div {
     height: 100px;
     width: 200px;
     border: 5px solid red;
 }


 .box {
     margin: 100px 100px;
     padding: 50px;
 }

 .box1 {
     margin: 100px 100px;
     padding: 50px;
     margin-top: -310px;
     margin-left: 420px;
 }

 .box2 {
     margin: 100px 100px;
     padding: 50px;
     margin-top: -310px;
     margin-left: 740px;
 }

 .box3 {
     margin: 100px 100px;
     padding: 50px;
 }

 .box4 {
     margin: 100px 100px;
     padding: 50px;
     margin-top: -310px;
     margin-left: 420px;
 }

 .box5 {
     margin: 100px 100px;
     padding: 50px;
     margin-top: -310px;
     margin-left: 740px;
 }