
        *{
            margin: 0;
        }
        .menu{
            width: 14%;
        }
        .menu h2{
            background-color: navy;
            color: white;
            padding: 10px;
        }
        .icon{
            cursor: pointer;
            float: right;
        }
        .items ul{
            list-style-type: none;
            margin-left: -30px;
        }
        .items li{
            background-color: navy;
            padding: 8px;
            margin: 1px 0px;
        }
        .items a{
         color: white;
         font-size: 20px; 
         text-decoration: none;  
        }
        .items li:hover{
            background-color: rgb(88, 88, 177);
        }
        .items{
            display: none;
        }
        .menu:hover .items{
            display: block;
        }

    