
        *{
            margin: 0;
            background-color: pink;
        }
        .main{
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: space-between;

            /* place-items: center; */
            /* align-items: first baseline; */
            /* align-items: flex-end; */
            
        }
        .box{
            height: 100px;
            width: 100px;
            border: 2px solid black;
            display: grid;
            place-items: center;
            margin: 30px;
        }
        .box1{
            background-color: rgb(138, 45, 61);
        }
        .box2{
            background-color: rgb(222, 18, 52);
        }
        .box3{
            background-color: rgb(169, 35, 57);
        }
        .box4{
            background-color: rgb(26, 117, 26);
        }
        .box5{
            background-color: rgb(18, 97, 18);
        }
        .box6{
            background-color: #972323;
        }
        .box7{
            background-color: #e01d1d;
        }
        .box8{
            background-color: #24e088;
        }
        .box9{
            background-color: #d35d5d;
        }
        .box10{
            background-color: #b91717;
        }



    