 
    main{
    height: 1400px;
    width: 100%;
    border: 2px solid black;
}

.box{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 100px;


    /* font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 20px; */

}
.box1{
    background-color: green;
    float: left;
}
.box2{
    background-color: yellow;
    float: left;
}
.box3{
    background-color: blue;
    float: left;
}

.box4{
    background-color: red;
    float: left;
}
.box5{
    background-color: purple;
    float: left;
}
.box6{
    background-color: orange;
    float: left;
}
  