
    * {
        margin: 0;
    }
    p{
        background-color: navy;
        color: white;
        padding: 15px;
        margin: 5px 0px;
        text-align: justify;
        font-size: 16px;
    }
    .main{
        position: sticky;
        top: 0;
    }
    .menu ul{
        list-style-type: none;
        padding: 10px;
        background-color: yellow;
    }
    .menu li{
        display: inline-block;
        padding: 20px;
    }
    .menu a{
        text-decoration: none;
        color: red;
        font-size: 20px;
    }
    .Chat{
        position: fixed;
        bottom: 200px;
        right: 20px;
        background-color: yellow;
        color: red;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
    }
  